<html>
    <head>
        <title>Graph | Profile</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="/css/style.css" />
    </head>
    <body class="grey lighten-3">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <header>
            <nav class="light-blue">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="/" class="brand-logo left" id="logo">Project Hangout</a>
                        <ul id="nav-mobile" class="right">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h2 class="center" id="title">Project Hangout</h2>
                    </div>
                    <div class="col s12">
                        <h4 class="center grey-text text-darken-3" id="auth">Profile</h4>
                    </div>
                    <div class="col s12 m6 offset-m3">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <p class="flow-text center">Welcome</p>
                                        <div class="divider"></div>
                                        <h6 class="right">Info</h6>
                                    </div>
                                    <div class="col s12">
                                        <ul>
                                            <div class="col s10">
                                                <li><strong>First Name </strong> <%= fname %></li>
                                            </div>
                                            <% if (distance) { %>
                                            <div class="col s2">
                                                <% if (distance) { %>
                                                (<%= distance %>)
                                                <% } %>
                                            </div>
                                            <% } else { %>
                                            <br />
                                            <% } %>
                                            <li><strong>Last Name </strong> <%= lname %></li>
                                            <li><strong>Birthday </strong> <%= bday %></li>
                                            <li><strong>Sex </strong> <%= sex %></li>
                                        </ul>
                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s12">
                                        <h6 class="right">Follower info</h6>
                                        <ul>
                                            <li><strong>Followers</strong>
                                                <br />
                                            <% if (follower_data.length == 0) { %>
                                                No followers
                                            <% } else { 
                                                for (var i = 0; i < follower_data.length; i++) {
                                                    var follower_name = follower_data[i].fname + " " + follower_data[i].lname;
                                                %>
                                                    <%= follower_name %>
                                                    <br />
                                                <% }
                                            } %>
                                            </li>
                                            <li><strong>Following</strong>
                                                <br />
                                            <% if (following_data.length == 0) { %>
                                                No followers
                                            <% } else { 
                                                for (var i = 0; i < following_data.length; i++) {
                                                    var following_name = following_data[i].fname + " " + following_data[i].lname;
                                                %>
                                                    <%= following_name  %>
                                                    <br />
                                                <% }
                                            } %>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="right">
                                        <% if (!current_user_follows) { %>
                                        <a class="waves-effect waves-light btn light-blue" href="/follow/<%=target_email%>">FOLLOW</a>
                                        <% } else { %>
                                        <a class="waves-effect waves-light btn light-red" href="/unfollow/<%=target_email%>">UNFOLLOW</a>
                                        <% } %>
                                    </div>
                                </div>
                                    
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>

        </footer>
        <%  if (message.length > 0) { %>
        <script>
            Materialize.toast('<%= message %>', 4000);
        </script>
        <% } %>
    </body>
</html>